<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="websitemonitor" type="WebsiteMonitor.WebsiteMonitorConfiguration,WebsiteMonitor"/>
  </configSections>

  <websitemonitor fromEmailAddress="${FromEmail}" alertEmailAddress="${AlertEmailAddress}" emailUseSsl="True">
    <websites>
      <website name="sharpoblunto.com" url="http://www.sharpoblunto.com" forbiddenContent="&lt;h2&gt;Oops&lt;/h2&gt;" />
      <website name="junkship.org" url="http://www.junkship.org/Messageboard/" forbiddenContent="&lt;h2&gt;An Error has occurred&lt;/h2&gt;" />
    </websites>
  </websitemonitor>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="${SmtpHost}" userName="${SmtpUserName}" password="${SmtpPassword}" port="${SmtpPort}"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>